.siteContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body{
	background-color: purple;
}


header{
	font-size: 100px;
	color: white;
}

dl{

	font-family: helvetica;
	font-size: 25px;
	color: yellow;
}
